<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nicolas.whfrp3companion">

    <application
        android:name=".WHFRP3Companion"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/warhammer_v3_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".playersheet.PlayerSheetActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".playersheet.PlayerDiceRollerActivity"
            android:label="@string/page_dice_roller"
            android:parentActivityName=".playersheet.PlayerDiceRollerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".playersheet.PlayerDiceRollerActivity" />
        </activity>
        <activity
            android:name=".playersheet.inventory.ItemEditionActivity"
            android:label="@string/page_add_item"
            android:parentActivityName=".playersheet.PlayerSheetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".playersheet.PlayerSheetActivity" />
        </activity>
        <activity
            android:name=".shared.activities.DiceRollerActivity"
            android:label="@string/page_dice_roller"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".shared.activities.DiceRollerStatisticsActivity"
            android:label="@string/page_dice_roller_statistics"
            android:parentActivityName=".shared.activities.DiceRollerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".shared.activities.DiceRollerActivity" />
        </activity>
        <activity
            android:name=".shared.activities.TalentsActivity"
            android:label="@string/page_talents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".shared.activities.ActionDetailActivity" />
        <activity
            android:name=".playersheet.advancedDiceRoller.PlayerAdvancedDiceRollerSkillsActivity"
            android:parentActivityName=".playersheet.PlayerSheetActivity" />
        <activity
            android:name=".playersheet.advancedDiceRoller.PlayerAdvancedDiceRollerActionsActivity"
            android:parentActivityName=".playersheet.PlayerSheetActivity" />

        <activity
            android:name=".playersheet.actions.PlayerAddActionsActivity"
            android:parentActivityName=".playersheet.PlayerSheetActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".shared.activities.ActionSearchActivity" />
    </application>

</manifest>